.stack {
  display: flex;
  flex-wrap: wrap;
  @include stack-space($space-xx-small);

  &.horizontal {
    flex-direction: row;
    /deep/ > * {
      @include inline-space($space-xx-small);
    }
  }
  &.vertical {
    flex-direction: column;
    /deep/ > * {
      @include stack-space($space-xx-small);
    }
  }
}
